bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/
/IS.Order.Application.UnitTest/TestResults/
/IS.Order.API.IntegrationTest/TestResults/
/IS.Order.Persistence.IntegrationTest/TestResults/

